<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Lionelsan"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/Liomaddalone"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/lionel-maddalone-144699108/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    @Lionel Maddalone
  </div>
</div>