<div class="container">
<center><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1592562905/nirng2nbaolq6s0cpr4et5r7wbvi.jpg" alt="" class="avatar"></center>
<br>
<br>

<p>Passionné par la communication, je dispose de connaissances en communication interne et externe ainsi qu’en marketing et web marketing (inbound et outbound, marketing automation, landing page etc.). Mes expériences et ma motivation m’ont permis de développer des bases solides dans ces domaines. 

Mon attrait pour les nouvelles technologies, le digital, le marketing et pour les échanges me permettent d'être  le plus créatif possible dans mes interventions sur les réseaux sociaux (que j'utilise aussi à titre personnel). Car je reste en constante veille. Très à l'aise à l'oral je peux facilement représenter une entreprise dans n'importe quel contexte BtoB ou BtoC.
<br><br>
Je suis capable d’établir un plan de communication pour une entreprise sur sa communication digitale : Réseaux sociaux, newsletter, graphisme, gestion de site internet, persona etc.

Grâce à ma non parcours j’ai pu développer une compétence dans les relations publiques et l’événementiel : relation avec les journalistes (via des interviews, rédaction de communiqués de presse), organisation de salon ou événement, très à l'aise avec les élus (maire, ministre, chef d'Etat). Mais également en graphisme avec une  bonne gestion de la suite Adobe. 
<br> <br>
J’ai d’ailleurs pu participer à des salons professionnels en tant que décideur pour les sociétés que j'ai représenté afin d'élargir mon réseau et trouver des partenaires de qualité. 

<br><br>
Enfin en 2020 j'ai suivi la formation qualitative et intensive du Wagon en 9 semaines afin d'apprendre le métier de développeur web et ainsi compléter mon profil. Je peux désormais mieux gérer des projets web, aiguiller et comprendre des développeurs. Mais ces connaissances m'offrent aussi la possibiité de créer moi même des Landing page et de les héberger dans un besoin de communication digitale. 
 <br><br>
 Ce site a été crée grâce à mes connaissances acquises à la formation du Wagon Marseille. Merci à toute l'équipe !</p>

<br><br><center><strong>Retrouvez sur mon profil LinkedIn de nombreux médias sur mon parcours.</strong></center> <br><br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596037612/andrew-neel-cckf4TsHAuw-unsplash_t2kmyk.jpg)">
  Expérience Professionnelle
</div>
<br><br>
<li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596462121/fIEWK-g9_mydwim.png" alt="logo easyflex" class="logo"> <strong>EASYFLEX - Responsable webmarketing et communication - Avril 2019 / Fevrier 2020</strong></li>
<li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596461581/1200px-Pays_d_Aix_Universit%C3%A9_Club_Handball_2017_logo.svg_s8qcyv.png" alt="logo pauc" class="logo"> <strong>PAUC HANDBALL - Chef de projet communication, marketing et événementiel - Sept 2018 / janvier 2020</strong></li>
<li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596462428/logo_terradona_rna44n.png" alt="logo terradona" class="logo"> <strong>TERRADONA - Responsable communication et community manager - février 2017 / Sept 2018</strong> </li>
<br>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596037611/aaron-burden-QJDzYT_K8Xg-unsplash_ci27e3.jpg)">
  Formation
</div><br><br>
<ul>
  <li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596463583/logo_le_wagon_gpcu4s.png" alt="le wagon logo" class="logo"><strong> Le Wagon Marseille web développeur</strong>-Avril 2020 / Juin 2020 </li>
  <li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596464187/unnamed_podi5w.png" alt="logo cfc alternance" class="fac"><strong> CFC Alternance web marketing</strong>- Novembre 2016 / Décembre 2016</li>
  <li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596463583/logo-prepa-crfpa-300x259_rkt2kx.png" alt="logo crfpa" class="logo"><strong> Prépa CRFPA</strong>- 2014 / 2015 </li>
  <li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596463812/logo_azz5xl.png" alt="fac de droit aix en provence" class="fac"><strong> Master droit des affaires</strong> - 2012 / 2013 </li>
  </ul><br><br>
</div>