<div class="container">
<center><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1592562905/nirng2nbaolq6s0cpr4et5r7wbvi.jpg" alt="" class="avatar"></center>
<br>
<br>

<p>Passionné par la communication et le web marketing, je suis en recherche active d’un poste qui me permettra de mettre à profit mes connaissances. 
<br><br>Mon attrait pour les nouvelles technologies, le digital, le marketing et pour les échanges me permettent d'être le plus créatif possible dans mes interventions sur les réseaux sociaux (que j'utilise aussi à titre personnel). Je suis en veille constante sur ces sujets. Très à l'aise à l'oral je peux facilement représenter une entreprise dans n'importe quel contexte BtoB ou BtoC.

Je suis capable d’établir un <strong>plan de communication pour une entreprise sur sa communication digitale : Réseaux sociaux, newsletter, graphisme, gestion de site internet, persona etc.</strong> Grâce à mon parcours j’ai pu développer une compétence dans les <strong>relations publiques et l’événementiel : relation avec les journalistes (via des interviews, rédaction de communiqués de presse), organisation de salon ou événement</strong>, très à l'aise avec les élus (maire, ministre, chef d'Etat). Mais également en graphisme avec une <strong>bonne gestion de la suite Adobe.</strong>
<br><br>
J’ai d’ailleurs pu participer à des salons professionnels en tant que décideur pour les sociétés que j'ai représenté afin d'élargir mon réseau et trouver des partenaires de qualité.
<br><br>
Enfin <strong>en 2020 j'ai suivi la formation qualitative et intensive du Wagon en 9 semaines afin d'apprendre le métier de développeur web</strong> et ainsi compléter mon profil. Je peux désormais mieux gérer des projets web, aiguiller et comprendre des développeurs. Mais ces connaissances m'offrent aussi la possibilité de créer moi-même des Landing page et de les héberger dans un besoin de communication digitale. Ce site a été créé grâce à mes connaissances acquises lors de la formation du Wagon Marseille.
</p>

<br><br><center><strong>Retrouvez sur mon profil LinkedIn de nombreux médias sur mon parcours.</strong></center> <br><br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596037612/andrew-neel-cckf4TsHAuw-unsplash_t2kmyk.jpg)">
  Expérience Professionnelle
</div>
<br><br>
<li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1616269294/logo_amypore_uwaagp.png" class="logo"> <strong>AMYPORE - Responsable communication - Novembre 2020 / Avril 2021 (Freelance) </strong></li><br>
<p>Mission d'accompagnement de la société Amypore dans le domaine de la biotechnologie pour les aider à définir une stratégie de communication / digitale sur leur recherche d'un traitement pour les maladies de Alzheimer et de Parkinson :

Réalisation d'un site internet en lien avec une agence de communication, visuels, stratégie de communication et digitale.

Expérience très enrichissante dans le domaine de la biotechnologie ainsi que dans les échanges que je peux avoir avec les dirigeants de cette société.</p><br><br>

<li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596462121/fIEWK-g9_mydwim.png" alt="logo easyflex" class="logo"> <strong>EASYFLEX - Responsable communication - Avril 2019 / Mars 2020</strong></li><br>
<p>Gestion de la communication (et com digitale) pour l’entreprise Easyflex.

Créations graphiques avec Photoshop, Indesign (flyer, visuels RS/site, catalogue etc.)

Campagne emailing, rédaction web, actualisation du site internet, marketing automation etc.

Stratégie digitale Inbound marketing et Outbound marketing
</p><br><br>
<li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596461581/1200px-Pays_d_Aix_Universit%C3%A9_Club_Handball_2017_logo.svg_s8qcyv.png" alt="logo pauc" class="logo"> <strong>PAUC HANDBALL - Chef de projet communication, marketing et événementiel - Sept 2018 / Janvier 2019</strong></li><br>
<p>Préparation des soirs de match (signalétique, led etc), gestion des réseaux sociaux et mise en place d’un plan de communication sur les différents médias. Community management sur : <br><br>
- Facebook +35 000 followers <br>
- Twitter + 6000 <br>
- Instagram +4000 <br><br>

Création et réalisation de visuels, compositions after effects pour les partenaires du club les soirs de matches.

Actualisation du site internet, relation presse, création des catalogues pour les soirs de match (présentation joueur, composition de l'équipe), etc.

Contact avec les prestataires pour assurer la communication du club.</p><br><br>
<li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596462428/logo_terradona_rna44n.png" alt="logo terradona" class="logo"> <strong>TERRADONA - Responsable communication et community manager - Janvier 2017 / Sept 2018</strong> </li><br>
<p>Ce poste m’a permis d'avoir une vision large de la communication, du marketing et du web marketing en travaillant sur l'aspect : <br>
<br>
<ul><li>- web marketing : réseaux sociaux, site internet (SEO, article, rédaction des offres, structure du site internet (pilotage de l'agence qui fait le site internet).</li><br>

<li>- Relation presse (rédaction de communiqués de presse, interview radio, tv, presse écrite) : lien avec une agence de presse.</li><br>

<li>- Relation avec des élus politiques (Maires, DGS, députés, chef d'Etat etc.) pour leur parler de la solution innovante Cliiink.</li><br>

<li>- Travail avec les services communications les collectivités du Pays de Grasse, Cannes Pays de Lérins, Lens Liévin, La Principauté de Monaco etc.</li><br>

<li>- Organisation des salons (exemple : Salon des Maires et des Collectivités Locales, Pollutec)</li><br>

<li>- Intervention auprès d’associations locales</li><br>

<li>- Participation a des colloques pour présenter notre activité et la solution Cliiink.</li><br>

<li>- Réponse aux utilisateurs du système Cliiink via un CRM par mail, réseaux sociaux ou par téléphone</li><br>
</ul>
Management d’une équipe de 4 personnes.</p>
<br>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596037611/aaron-burden-QJDzYT_K8Xg-unsplash_ci27e3.jpg)">
  Formation
</div><br><br>
<ul>
  <center><li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596463583/logo_le_wagon_gpcu4s.png" alt="le wagon logo" class="logo"><br><br><strong> Le Wagon Marseille web développeur</strong>- 2020 </li><br><br></center>
  <center><li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596464187/unnamed_podi5w.png" alt="logo cfc alternance" class="fac"><br><br><strong> CFC Alternance web marketing</strong>- 2016</li><br><br></center>
  <center><li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596463583/logo-prepa-crfpa-300x259_rkt2kx.png" alt="logo crfpa" class="logo"><br><br><strong> Prépa CRFPA</strong>- 2014 / 2015 </li><br><br></center>
  <center><li><img src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596463812/logo_azz5xl.png" alt="fac de droit aix en provence" class="fac"><br><br><strong> Master droit des affaires</strong> - 2012 / 2013 </li><br><br></center>
  </ul><br><br>
</div>