<div class="container">

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596036145/contact-us-2993000_1920_kky9jg.jpg)">
  Me contacter
</div>
<br>
<br>
<p>Je suis joignable à la fois par mail, par téléphone ou via les réseaux sociaux comme Linkedin. N'hésitez pas à me contacter.</p>
<br>
<br>
<ul>
<li>Mail : lionel.maddalone@yahoo.fr</li>
<li>Téléphone: 06 26 57 34 19</li>
<li>Linkedin : Lionel MADDALONE</li>
<li>Twitter: @Liomaddalone</li>
</ul>
</div>