<h1>Home Page</h1>

<p>Passionné par la communication et le web marketing je prend très à coeur de développer la notoriété d'une entreprise pour laquelle je dois travailler.</p>

<h2>Présence digitale</h2>

<p>Développer votre présence sur les réseaux sociaux ou site web en utilisant les outils marketing récents:</p>
<ul><li>- emailling</li> 
<li>- marketing automation</li>
<li>- suivi et gestion de vos réseaux sociaux (Linkedin, Facebook, Instagram, Twitter, Youtube, Pinterest etc.</li>
<li>- gestion et mise à jour de votre site web (rédaction, UX etc.)</li>
<li>- référencement : SEO et SEA + suivi via Google Analytics, Semrush, Yooda Insight</li>
</ul>
<%= link_to "Me contacter", "/contact" %>

<h2>Communication et évenementiel</h2>

<p>Définir avec vous et pour vous une stratégie de communication, organiser des événements pour votre entreprise.</p>

<ul>
<li>- Création de support de communication (Suite Adobe)</li>
<li>- Suivi des relations presse (rédaction de communiqués de presse)</li>
<li>- Préparer des salons professionnels (stand, organisation etc.)</li>
</ul>
<ul>
<a href="https://www.linkedin.com/in/lionel-maddalone-144699108/"><i class="fa fa-linkedin fa-2x"></i></a>
</ul>