<title>Lionel Maddalone</title>
  <div class="banner">
    <div class="container">
        <h1>Développons ensemble votre communication</h1>
    </div>
  </div>
  <br>
  <br>
<div class="container">
  <p>Passionné par la communication et le web marketing je prend très à coeur de développer la notoriété d'une entreprise pour laquelle je dois travailler. Je peux vous apporter mon appui sur de nombreux domaines.</p>

  <br>
  <br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596029260/digital_xuwvld.jpg)">
  Présence digitale
</div>
<br>
<br>
  <p><strong>Développer votre présence sur les réseaux sociaux ou site web en utilisant les outils marketing récents:</strong></p>
  <ul><li>- emailling</li> 
  <li>- marketing automation</li>
  <li>- suivi et gestion de vos réseaux sociaux (Linkedin, Facebook, Instagram, Twitter, Youtube, Pinterest etc.</li>
  <li>- gestion et mise à jour de votre site web (rédaction, UX etc.)</li>
  <li>- référencement : SEO et SEA + suivi via Google Analytics, Semrush, Yooda Insight</li>
  <li>- Création de médias pour les réseaux sociaux avec la suite Adobe</li>
  </ul>
  <br>
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596031889/pablo-heimplatz-ZODcBkEohk8-unsplash_rlpc0d.jpg)">
  Communication et évenementiel
</div>
<br>
<br>
  <p><strong>Définir avec vous et pour vous une stratégie de communication, organiser des événements pour votre entreprise.</strong></p>

  <ul>
  <li>- Plan de communication (cible type, message, média etc.)</li>
  <li>- Gérer les relations avec des prestataires (agence de com, journalistes etc.)</li>
  <li>- Création de support de communication avec la Suite Adobe : flyer etc.</li>
  <li>- Suivi des relations presse (rédaction de communiqués de presse)</li>
  <li>- Préparer des salons professionnels (stand, organisation etc.)</li>
  </ul>

</div>