<h1>Home Page</h1>

<p>Passionné par la communication et le web marketing je prend très à coeur de développer la notoriété d'une entreprise pour laquelle je dois travailler.</p>

<%= link_to "Me contacter", "/contact" %>


<ul>
<a href="https://www.linkedin.com/in/lionel-maddalone-144699108/"><i class="fa fa-linkedin fa-2x"></i></a>
</ul>