<title>Lionel Maddalone</title>
  <div class="banner">
    <div class="container">
        <h1>Développons ensemble votre communication</h1>
    </div>
  </div>
  <br>
  <br>
<div class="container">
  <p>Passionné par la communication et le web marketing je prends très à coeur de développer la notoriété d'une entreprise pour laquelle je dois travailler. Je peux vous apporter mon expérience dans de nombreux domaines</p> 
  
  <br>

  <p>Aujourd'hui en Master 2 Communication digitale et Marketing d'influence à l'école de commerce ESG à Aix en Provence je suis à la recherche d'une alternance afin d'apporter mes connaissances à une nouvelle entreprise tout en apprenant de nouvelles compétences.</p>

  <br>
  <br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596029260/digital_xuwvld.jpg)">
  Présence digitale
</div>
<br>
<br>
  <p><center><strong>Développer votre présence sur les réseaux sociaux ou site web en utilisant les outils marketing récents:</strong></center></p>
  <ul><li>- <strong>Emailing </strong>: envoi, suivi des stats, mise en forme etc.</li> 
  <li>- <strong>Marketing automation</strong> : création via des outils de campagnes marketing.</li>
  <li>- <strong>Création de landing page</strong> pour promouvoir votre savoir-faire sur le net</li>
  <li>- <strong>Suivi et gestion de vos réseaux sociaux</strong> (Linkedin, Facebook, Instagram, Twitter, Youtube, Pinterest etc.</li>
  <li>- <strong>Campagnes Adwords Réseaux sociaux</strong> : création de pub payantes sur les réseaux sociaux.</li>
  <li>- <strong>Gestion et mise à jour de votre site web</strong> (rédaction, UX etc.)</li>
  <li>- <strong>Référencement SEO et SEA</strong> + suivi via Google Analytics, Semrush, Yooda Insight</li>
  <li>- <strong>Création de médias</strong> pour les réseaux sociaux avec la suite Adobe</li>
  </ul>
  <br>
  <br>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596031889/pablo-heimplatz-ZODcBkEohk8-unsplash_rlpc0d.jpg)">
  <div class="event">Communication et événementiel</div>
</div>
<br>
<br>
  <p><strong>Définir avec vous et pour vous une stratégie de communication, organiser des événements pour votre entreprise.</strong></p>

  <ul>
  <li>- <strong>Plan de communication</strong> (cible type, message, média etc.)</li>
  <li>- <strong>Gérer les relations avec des prestataires</strong> (agence de com, journalistes etc.)</li>
  <li>- <strong>Création de support de communication</strong> avec la Suite Adobe : flyer etc.</li>
  <li>- <strong>Suivi des relations presse</strong> (rédaction de communiqués de presse)</li>
  <li>- <strong>Préparer des salons professionnels</strong> (stand, organisation etc.)</li>
  </ul>
<br>
<br>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596459316/romeo-a-g1JSfIdxrrE-unsplash_vtpzea.jpg)">
  Soft Skills
</div><br><br>
<ul>
  <li>- <strong>Créativité</strong> : recherche de design, idées pour faire passer un message etc. </li>
  <li>- <strong>Adaptabilité</strong> : Je m'adapte aux situations, organisations pour être le plus performant.</li>
  <li>- <strong>Esprit d'équipe</strong> : Très sociable et à l'aise dans le travail à plusieurs, j'adore échanger avec les gens.</li>
  <li>- <strong>Résolution des problèmes posés</strong> : je tente de trouver la meilleure solution possible à une problématique.</li>
  <li>- <strong>Management </strong>: capacité à gérer une équipe et à avancer tous ensemble vers un but précis. </li>
  <li>- <strong>Sens de la communication</strong> : Très à l'aise à l'oral et la présentation quel que soit mon interlocuteur. </li>
  <li>- <strong>Curiosité</strong> : à l'écoute des dernières tendances sur mon domaine et au-delà. </li>
  </ul><br><br>
  <div class="text-center"> 
  <a href="https://drive.google.com/file/d/1lF9M-Z9r2FtszCCf6SUamS6wmk4IpuEP/view?usp=sharing" class="btn btn-info"  role="button"> <strong> Télécharger mon CV (format PDF)</strong></a>
  </div><br><br>
</div>

