.banner {
  background-image: url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1595961251/banner_e8ygjd.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: #f2f2f2;
  text-shadow:3px 3px 3px black;

  }

  

 